# Introduction to Pandas in Python

In [65]:
import numpy as np;
import pandas as pd;

In [66]:
dic = {
    "name" : ["Rakib", "Sohel", "Khadimul","Khalid"],
    "age" : [26,24,22,26],
    "id" :  [1,2,3,4]
}
print(dic)

{'name': ['Rakib', 'Sohel', 'Khadimul', 'Khalid'], 'age': [26, 24, 22, 26], 'id': [1, 2, 3, 4]}

In [67]:
df = pd.DataFrame(dic) # create csv or excel
print(f"DataFrame : \n {df}")

DataFrame :
        name  age  id
0     Rakib   26   1
1     Sohel   24   2
2  Khadimul   22   3
3    Khalid   26   4

In [68]:
df.to_csv("000_Friends_info.csv") # Export a csv of the dataframe in same location of the current file 
df.to_csv("000_Friends_info_without_index.csv", index = False) # Export a csv of the dataframe in same location of the current file without index

In [69]:
head_number_of_item = 2
df.head(head_number_of_item) # see first some number of items you want to see

    name  age  id
0  Rakib   26   1
1  Sohel   24   2

In [70]:
tail_number_of_item = 2
df.tail(tail_number_of_item) # see last some number of items you want to see

       name  age  id
2  Khadimul   22   3
3    Khalid   26   4

In [71]:
df.describe() # return all statistical information about the dataframe

             age        id
count   4.000000  4.000000
mean   24.500000  2.500000
std     1.914854  1.290994
min    22.000000  1.000000
25%    23.500000  1.750000
50%    25.000000  2.500000
75%    26.000000  3.250000
max    26.000000  4.000000

In [72]:
employee_info = pd.read_csv("000_Employee_info.csv") # emport a csv in pandas
print(f"Employee Info : \n {employee_info}")

Employee Info :
    id      name  empenses  experience
0   0     Rakib      1000           1
1   1     Sohel      1001           2
2   2  Khadimul      1002           3
3   3    Khalid      1003           4

In [73]:
employee_info["empenses"]

0    1000
1    1001
2    1002
3    1003
Name: empenses, dtype: int64